<!-- BEGIN PAGE HEADER-->
<!-- <h3 class="page-title">
	Functions
</h3> -->
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div>
    <div class="row bg-container">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet ">
                <div class="portlet-body">
                    <div class="head">
                        <span>Newsfeed</span>
                        <span> {{leftMin}} : {{leftSec}} </span>
                        <span>Total Users: {{totalUser | number:0}}</span>
                    </div>
                    <div class="img-content" style="padding: 0px 20px">
                        <img src="/imgs/newsfeed.png">
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
        <div class="footer-menu">
                <a class="footer-item">
                    <img src="/imgs/logo.png" alt="">
                </a>
                <a class="footer-item" href='/#/functions'>
                    <img src="/imgs/icon_func.png" alt="func">
                    <p>Functions</p>
                </a>
                <a class="footer-item" ng-href='/#/news'>
                    <img src="/imgs/icon_news_active.png" alt="news">
                    <p style='color:#00E4C8'>Newsfeed</p>
                </a>
                <a class="footer-item" href='/#/pp'>
                    <img src="/imgs/icon_pay.png" alt="pp">
                    <p>Pay for Play</p>
                </a>
                <a class="footer-item" href='/#/settings'>
                    <img src="/imgs/icon_setting.png" alt="settings">
                    <p>Settings</p>
                </a>
            </div>
    </div>
    
</div>
    <!-- END MAIN CONTENT -->
    <!-- BEGIN MAIN JS & CSS -->
    <script>
        Index.init();    
        Tasks.initDashboardWidget();
    </script>
    <!-- BEGIN MAIN JS & CSS -->